@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-sans: "Public Sans", sans-serif;
}

:root {
  --ui-bg: oklch(100 0 0);
  --ui-card: oklch(1 0 0);
  --ui-bg-elevated: oklch(1 0 0);
  --side-bar-width: 280px;
}

.dark {
  --ui-bg: oklch(0.18 0 0);
  --ui-border: oklch(0.269 0 0);
  --ui-card: oklch(0.225 0 0);
  --ui-bg-elevated: oklch(0.225 0 0);

  --vis-axis-grid-color: rgba(255, 255, 255, 0.1) !important;
  --vis-tooltip-background-color: #121212 !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: rgba(255, 255, 255, 0.5) !important;
  --vis-axis-tick-label-color: rgba(255, 255, 255, 0.5) !important;
  --vis-legend-label-color: rgba(255, 255, 255, 0.75) !important;

  --vis-axis-label-color: rgba(255, 255, 255, 0.5) !important;
  --vis-legend-label-color: rgba(255, 255, 255, 0.5) !important;
}
